doctype
html(lang='en')
  head
    include _includes/meta.jade
    title UA Bootstrap - Milo Font
    include _includes/scripts-and-styles.jade
  body.css-page(data-spy='scroll', data-target='#catstrap-sidebar')
    include _includes/navbar-nav.jade
    mixin mainnav(5)
    .page-title
      .container
        .row
          .col-xs-12.col-md-8
            h1 Fonts
            p Milo, the official University of Arizona typeface.
    .main-content
      .container
        .row
          .col-md-9
            include:marked _includes/fonts/how-to-use.md
            include:marked _includes/fonts/milo-serif-web.md
            include:marked _includes/fonts/milo-serif-black.md
            include:marked _includes/fonts/milo-web.md
          .col-md-3
            include:marked _includes/fonts/side-nav.md

    include:marked _includes/fonts/modals.md
    include:marked _includes/footer.md
    include _includes/footer-scripts.jade