doctype
html(lang='en')
  head
    include _includes/meta.jade
    title UA Bootstrap
    include _includes/scripts-and-styles.jade
  body.css-page(data-spy='scroll', data-target='#catstrap-sidebar')
    include _includes/navbar-nav.jade
    mixin mainnav(1)
    .page-title
      .container
        .row
          .col-xs-12.col-md-8
            h1 UA Bootstrap
            p How to download and use. Plus basic templates, examples, and more.
    .main-content
      .container
        .row
          .col-md-9
            include:marked _includes/getting-started.md
            //include:marked _includes/examples.md
            include:marked _includes/contribute.md
          .col-md-3
            include:marked _includes/side-nav.md

    include:marked _includes/footer.md
    include _includes/footer-scripts.jade